<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- Qna DAO -->
<bean class="com.iu.qna.QnaDAO" name="qnaDAO" />

<!-- Qna Service -->
<bean class="com.iu.qna.QnaService" name="qnaService">
	<property name="qnaDAO" ref="qnaDAO"/>
</bean>

</beans>
