<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- NoticeDAO -->
<bean class="com.iu.notice.NoticeDAO" name="noticeDAO" />

<!-- NoticeService -->
<bean class="com.iu.notice.NoticeService" name="noticeService">
	<property name="noticeDAO" ref="noticeDAO"/>
</bean>

</beans>
